.card_create-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    border: 2px solid #acacac;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    gap: 5px;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        input {
            max-width: 430px;
            width: 100%;
            word-wrap: break-word;
            background-color: transparent;
            border: none;
            outline: none;
            color: #222;
        }
    }

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    button {
        padding: 5px 25px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}

.card_add-photo-video {
    display: flex;
    align-items: center;
    gap: 1rem;


    button {
        display: flex;
        align-items: center;
        color: #f1f1f1;
        background-color: transparent;
        border: none;
        gap: 5px;
        cursor: pointer;
    }

}