* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #18191a;
    color: #f1f1f1;
}


.container {
    max-width: 85%;
    width: 100%;
    margin: auto;
}