.header {
    background-color: #242526;
}

.header_nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0px;

    h1 {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.btn_signOut {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #f1f1f1;

    &:hover {
        color: #242526;
        background-color: #f1f1f1;
    }
}

.box_signOut {
    position: absolute;
    top: 4.2rem;
    right: 6.7rem;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;

    span {
        position: absolute;
        top: -7px;
        right: 4rem;
        rotate: 45deg;

        width: 15px;
        height: 15px;
        background-color: #f1f1f1;
    }
}